"*":
  "atom-terminal": {}
  core:
    disabledPackages: [
      "activate-power-mode"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "monokai-seti"
    ]
  editor:
    fontSize: 16
    softTabs: false
    softWrap: true
    tabLength: 4
    tabType: "hard"
  "exception-reporting":
    userId: "19558f18-cb69-7af8-09c5-2e2ccb020056"
  "git-plus":
    general:
      _analyticsUserId: "8b7af92a-491a-4d5d-b0d9-9cc3f3fb1ddf"
  "tree-view": {}
  "vim-mode":
    useSmartcaseForSearch: true
  "vim-mode-plus":
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
".c.source":
  editor:
    tabLength: 4
".cpp.source":
  editor:
    tabLength: 4
".diff":
  editor:
    tabLength: 4
".plain.text":
  editor:
    tabLength: 4
